@page
@model RazorPagesBlehNmah.Pages.Paintings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Painting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Painting.Id" />
            <div class="form-group">
                <label asp-for="Painting.CollectionID" class="control-label"></label>
                <select asp-for="Painting.CollectionID" class="form-control" asp-items="ViewBag.CollectionID"></select>
                <span asp-validation-for="Painting.CollectionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painting.Title" class="control-label"></label>
                <input asp-for="Painting.Title" class="form-control" />
                <span asp-validation-for="Painting.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painting.Year" class="control-label"></label>
                <input asp-for="Painting.Year" class="form-control" />
                <span asp-validation-for="Painting.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painting.Medium" class="control-label"></label>
                <input asp-for="Painting.Medium" class="form-control" />
                <span asp-validation-for="Painting.Medium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painting.Location" class="control-label"></label>
                <input asp-for="Painting.Location" class="form-control" />
                <span asp-validation-for="Painting.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painting.MediaLocation" class="control-label"></label>
                <input asp-for="Painting.MediaLocation" class="form-control" />
                <span asp-validation-for="Painting.MediaLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
