@page "{id:int}"
@model RazorPagesBlehNmah.Pages.Collections.IndexModel

@{
    ViewData["Title"] = "Collections";
}

    @foreach (var item in Model.Painting)
    {
        @if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == item.CollectionID)
        {
            <div class="row row-cols-1 row-cols-md-1 g-4 m-1">
                <div class="mt-4 col">
                    <div style="position: relative; text-align: center; cursor: pointer;" class="card">
                        <img src="@Html.DisplayFor(modelItem => item.MediaLocation)" style="border-radius: .5rem; width: 100%; height: 30rem; object-fit: cover;" class="card-img img-fluid" alt="@Html.DisplayFor(modelItem => item.Title)">
                        <a data-bs-toggle="modal" data-bs-target="#modal">
                            <div class="bg-dark p-2 bg-opacity-25 card-img-overlay">
                                <div style="width: 100%; position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); border-radius: .5rem;" class="text-white card-img-overlay">
                                    <h5 style="font-size: 400%;" class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
    }

    <div style="" class="modal" id="modal" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) < 10)
                            {
                                @foreach (var item in Model.Painting)
                                {
                                    @if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == item.CollectionID)
                                    {
                                        int collection = Convert.ToInt32(ViewContext.RouteData.Values["id"]) - 1;
                                        var painting = Model.Collection[collection].Paintings.First();
                                        <div class="carousel-item @(item.Id == painting.Id ? "active" : "")">
                                            <a asp-page="../Paintings/Details" asp-route-id="@item.Id">
                                                <img src="@Html.DisplayFor(modelItem => item.MediaLocation)" style="border-radius: .5rem; width: 100%; height: auto; object-fit: cover;" class="card-img img-fluid" alt="@Html.DisplayFor(modelItem => item.Title)">
                                            </a>
                                        </div>
                                    }
                                }
                            }
                            @if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) > 10)
                            {
                                @foreach (var item in Model.Photograph)
                                {
                                    @if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == item.CollectionID)
                                    {
                                        int collection = Convert.ToInt32(ViewContext.RouteData.Values["id"]) - 1;
                                        var painting = Model.Collection[collection].Photographs.First();
                                        <div class="carousel-item @(item.Id == painting.Id ? "active" : "")">
                                            <a asp-page="../Photographs/Details" asp-route-id="@item.Id">
                                                <img src="@Html.DisplayFor(modelItem => item.MediaLocation)" style="border-radius: .5rem; width: 100%; height: auto; object-fit: cover;" class="card-img img-fluid" alt="@Html.DisplayFor(modelItem => item.Title)">
                                            </a>
                                        </div>
                                    }
                                }
                            }
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @foreach (var item in Model.Photograph)
    {
        @if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == item.CollectionID)
        {
            <div class="row row-cols-1 row-cols-md-1 g-4 m-1">
                <div class="mt-4 col">
                    <div style="position: relative; text-align: center; cursor: pointer;" class="card">
                        <img src="@Html.DisplayFor(modelItem => item.MediaLocation)" style="border-radius: .5rem; width: 100%; height: 30rem; object-fit: cover;" class="card-img img-fluid" alt="@Html.DisplayFor(modelItem => item.Title)">
                        <a data-bs-toggle="modal" data-bs-target="#modal">
                            <div class="bg-dark p-2 bg-opacity-25 card-img-overlay">
                                <div style="width: 100%; position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); border-radius: .5rem;" class="text-white card-img-overlay">
                                    <h5 style="font-size: 400%;" class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
    }