<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/dc049d64-9c9f-4cac-bbf4-c3a9d5ae83af/resourceGroups/cloud-shell-storage-eastus/providers/Microsoft.Web/sites/blehnmah</ResourceId>
    <ResourceGroup>cloud-shell-storage-eastus</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://blehnmah.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://blehnmah.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$blehnmah</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>