@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="row rows-col-1" style="text-align: center;">
    <img src="https://i.imgur.com/2cZ2f9o.jpg" alt="profile-picture" style="border-radius: 1rem; width: 100rem; height: 40rem; object-fit: contain;" />
    <div style="margin: auto; margin-top: 2rem; width: 50rem; text-align: left;">
        <p>
            My name is Bleh Seton and although I was born in Chicago, my family is from Guinea and Liberia. University of Illinois at Chicago is my alma mater. Fortunately, I was able to further my education by spending half my academic career between Germany and Austria through the Benjamin A. Gilman program where I studied finance and international economics.
        </p>
    </div>
</div>

