﻿@page
@model RazorPagesBlehNmah.Pages.Collections.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container text-center">
    <div class="row row-cols-xs-1">
        <div class="col-xs-12 col-md-6 col-md-5 col-lg-4 col-xl-3" style="justify-content: center; margin-bottom: 1rem;">
            <div>
                <img src="https://i.imgur.com/2cZ2f9o.jpg" class="card-img-top" alt="profile-picture">
                <div role="tabpanel">
                    <div style="width: 100%;" class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a style="text-decoration: none; color: black; cursor: pointer;" class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                        @foreach (var item in Model.Collection.Take(10))
                        {
                            <a style="text-decoration: none; color: black; cursor: pointer;" class="nav-link" id="v-pills-@Html.DisplayFor(modelItem => item.CollectionName)-tab" data-bs-toggle="pill" data-bs-target="#v-pills-@Html.DisplayFor(modelItem => item.CollectionName)" role="tab" aria-controls="v-pills-@Html.DisplayFor(modelItem => item.CollectionName)" aria-selected="false">@Html.DisplayFor(modelItem => item.CollectionName)</a>
                        }
                    </div>
                </div>
                <div class="row row-cols-xs-4" style="width: 15rem; margin: auto;">
                    <div class="col">
                        <a href='https://www.linkedin.com/in/bleh-s/'><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" target="_blank" rel="noreferrer" /></a>
                    </div>
                    <div class="col">
                        <a href='https://github.com/Blehjo'><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" target="_blank" rel="noreferrer" /></a>
                    </div>
                    <div class="col">
                        <a href='https://blehseton.com'><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/safari/safari-original.svg" target="_blank" rel="noreferrer" /></a>
                    </div>
                    <div class="col">
                        <a target="_blank" rel="noreferrer" href='https://drive.google.com/file/d/1eQh9PvQWSuX5sCxs8_-zjOkuwpYO6KLz/view?usp=sharing'>Resume</a>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="card text-bg-dark">
                                <img src="https://i.imgur.com/bJBaDTF.jpg" style="border-radius: .5rem; width: 100rem; height: 25rem; object-fit: cover;" class="card-img img-fluid" alt="the kids are losing their minds">
                                <div class="bg-dark p-2 bg-opacity-25 card-img-overlay"></div>
                                <div style="width: 80%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: .5rem;" class="text-white card-img-overlay">
                                    <h5 style="font-size: 200%;" class="card-title">Bleh Nmah</h5>
                                    <p style="font-size: 150%;" class="card-text">Welcome to the art journey of Bleh Nmah and continue with him as he continues to explore the human emotion through color theory.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2">
                        @foreach (var item in Model.Collection.Take(10))
                        {
                            <div class="mt-4 col">
                                <a asp-page="./Collections/Details" asp-route-id="@item.CollectionID">
                                    <div style="position: relative; text-align: center;" class="card">
                                        <img src="@Html.DisplayFor(modelItem => item.CoverImage)" style="border-radius: .5rem; width: 100%; height: 25rem; object-fit: cover;" class="card-img img-fluid" alt="@Html.DisplayFor(modelItem => item.CollectionName)">
                                        <div class="bg-dark p-2 bg-opacity-25 card-img-overlay"></div>
                                        <div style="width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: .5rem;" class="text-white card-img-overlay">
                                            <h5 style="font-size: 200%;" class="card-title">@Html.DisplayFor(modelItem => item.CollectionName)</h5>
                                            <p style="font-size: 100%;" class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
                @foreach (var item in Model.Collection.Take(10))
                {
                    <div class="tab-pane fade show" id="v-pills-@Html.DisplayFor(modelItem => item.CollectionName)" role="tabpanel" aria-labelledby="v-pills-@Html.DisplayFor(modelItem => item.CollectionName)-tab" tabindex="0">
                        <div class="row">
                            <div class="container-fluid">
                                <a asp-page="./Collections/Details" asp-route-id="@item.CollectionID">
                                    <div class="card text-bg-dark">
                                        <img src="@Html.DisplayFor(modelItem => item.CoverImage)" style="border-radius: .5rem; width: 100rem; height: 25rem; object-fit: cover;" class="card-img img-fluid" alt="@Html.DisplayFor(modelItem => item.CollectionName)">
                                        <div class="bg-dark p-2 bg-opacity-25 card-img-overlay"></div>
                                        <div style="width: 80%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: .5rem;" class="text-white card-img-overlay">
                                            <h5 style="font-size: 200%;" class="card-title">@Html.DisplayFor(modelItem => item.CollectionName)</h5>
                                            <p style="font-size: 150%;" class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row row-cols-xs-2 row-cols-1 row-cols-md-2">
                            @foreach (var painting in Model.Painting)
                            {
                                @if (painting.CollectionID == item.CollectionID)
                                {
                                    <div class="mt-4 col">
                                        <a asp-page="./Paintings/Details" asp-route-id="@painting.Id">
                                            <div style="position: relative; text-align: center;" class="card">
                                                <img src="@Html.DisplayFor(modelItem => painting.MediaLocation)" style="border-radius: .5rem; width: 100%; height: 25rem; object-fit: cover;" class="card-img img-fluid" alt="@Html.DisplayFor(modelItem => painting.Title)">
                                                <div class="bg-dark p-2 bg-opacity-25 card-img-overlay"></div>
                                                <div style="width: 100%; position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); border-radius: .5rem;" class="text-white card-img-overlay">
                                                    <h5 style="font-size: 250%;" class="card-title">@Html.DisplayFor(modelItem => painting.Title)</h5>
                                                    <p class="card-text">@Html.DisplayFor(modelItem => painting.Description)</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
</div>