@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container text-center">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://i.imgur.com/2cZ2f9o.jpg" class="card-img-top" alt="profile-picture">
                <div class="card-body">
                    <h5 class="card-title">Bleh Nmah</h5>
                    <p class="card-text">Expressionist with a background in software engineering who experiments with color theory and masks to explore the emotion of humankind.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Chicago, Illinois</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a target="_blank" rel="noreferrer" href='https://www.linkedin.com/in/bleh-s/'>LinkedIn</a>
                    <a target="_blank" rel="noreferrer" href='https://github.com/Blehjo'>Github</a>
                    <a target="_blank" rel="noreferrer" href='https://blehseton.com'>Applications</a>
                    <a target="_blank" rel="noreferrer" href='https://drive.google.com/file/d/1eQh9PvQWSuX5sCxs8_-zjOkuwpYO6KLz/view?usp=sharing'>Resume</a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="text-center">
                <h1 class="display-4">Welcome</h1>
                <p>Whatever game you’re interested in getting better at this year, Shell Geist can help. Join the community today and help others by leaving advice or learn from others and ask questions. Think of Shell Geist as a virtual meetup. You can attend events by getting a code and joining video game lobbies, joining live discussions, and leaving your own feed back from first-hand experience. Your fellow mates have turned to Shell Geist to meet people, make friends, find support, grow a business, and explore their interests. Thousands of events are happening every day—join the fun.</p>
            </div>
        </div>
    </div>
</div>


